<div class="max-w-md my-10 mx-auto p-12 p-12 lg:p-16 bg-white rounded border border-gray-light text-center shadow">
  <%= image_tag "schedule.svg", alt: "schedule", width:300, class: "mb-4" %>
  <h1 class="text-indigo-700 text-2xl mb-6">It looks like you haven't scheduled an appointment yet</h1>
  <%= link_to "Schedule a new appointment", new_booking_path, class: "bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 px-5 rounded-lg" %>
</div>