<div class=" container m-auto my-4">
  <% unless current_user.bookings.any? %>
    <%= render "bookings_cta" %>
  <% else %>
    <%= render "bookings_landing", bookings: @bookings %>
  <% end %>
</div>