<div class="absolute w-64 bg-white shadow-lg rounded-md border border-gray-200 mt-1 z-10 max-h-60 overflow-y-auto dark:bg-gray-800 dark:border-gray-700">
  <% if clients.any? %>
    <% clients.each do |client| %>
      <div class="px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer">
        <%= link_to client_path(client), class: "text-gray-700 no-underline block w-full dark:text-gray-300" do %>
          <div class="text-s text-gray-800">
            <%= client.name %>
          </div>
          <div class="text-xs text-gray-500">
            Created at: <%= client.created_at.strftime('%b %d, %Y') %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="px-4 py-2 text-gray-500 dark:text-gray-400">
      No results found
    </div>
  <% end %>
</div>